@import url("https://fonts.googleapis.com/css2?family=Antonio&display=swap");
@import url("https://fonts.cdnfonts.com/css/spartan");

* {
  padding: 0;
  margin: 0;
}

#root {
  width: 100%;
}

body {
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-image: url(/src/assets/background-stars.svg);
  background-color: #070724;
  background-size: auto;
  background-repeat: no-repeat;
  flex-direction: column;
  align-items: center;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  padding-top: 16px;
  padding-left: 24px;
  padding-right: 24px;
  box-sizing: border-box;
  padding-bottom: 16px;
}

.h1_planets_desktop {
  display: none;
}

.h1_planets {
  font-family: "Antonio";
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 36px;
  letter-spacing: -1.05px;
  text-transform: uppercase;
  color: #ffffff;
}

.desktop_menu {
  display: none;
}

.desktop_menu_div {
  display: none;
}

.menu_div {
  height: 17px;
}

.planet_hover {
  display: none;
}

.menu_planets {
  display: flex;
  flex-direction: row;
  gap: 10px;
  position: absolute;
  width: 100%;
  background: #070724;
  padding-left: 24px;
  padding-right: 24px;
  box-sizing: border-box;
  padding-top: 44px;
  z-index: 1;
}

.menu_planets {
  display: none;
}

.menu_div {
  display: block;
}

.menu_planets.open {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-bottom: 67px;
}

.menu_names {
  text-decoration: none;
  font-family: "Spartan";
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 25px;
  text-align: center;
  letter-spacing: 1.36364px;
  text-transform: uppercase;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.underline_app {
  width: 100%;
  background: #ffffff;
  mix-blend-mode: normal;
  opacity: 0.2;
  height: 1px;
}

.underline_mobile_menu {
  width: 100%;
  background: #ffffff;
  mix-blend-mode: normal;
  opacity: 0.2;
  height: 1px;
  margin-top: 12px;
  margin-bottom: 12px;
}

.planet_mobile_divs {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.mobile_menu_design {
  display: flex;
  flex-direction: row;
  gap: 25px;
}

.menu_circle {
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

.underline_app_desktop {
  display: none;
}

@media screen and (min-width: 768px) {
  .menu_div {
    display: none;
  }

  .header {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    padding-top: 32px;
    padding-left: 24px;
    padding-right: 24px;
    box-sizing: border-box;
    padding-bottom: 39px;
    justify-content: center;
  }

  .desktop_menu {
    display: flex;
  }

  .underline_app {
    display: none;
  }

  .underline_app_desktop {
    display: block;
    width: 100%;
    background: #ffffff;
    mix-blend-mode: normal;
    opacity: 0.2;
    height: 1px;
    margin-top: 27px;
  }

  .desktop_menu {
    display: block;
    font-family: "Spartan";
    font-style: normal;
    font-weight: 700;
    font-size: 11px;
    line-height: 25px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #ffffff;
    text-decoration: none;
    cursor: pointer;
  }

  .desktop_menu_div {
    display: flex;
    flex-direction: row;
    padding-left: 52px;
    padding-right: 52px;
    box-sizing: border-box;
    width: 100%;
    justify-content: space-between;
  }
}

@media screen and (min-width: 1440px) {
  .header {
    display: none;
  }

  .h1_planets_desktop {
    display: block;
    font-family: "Antonio";
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 36px;
    letter-spacing: -1.05px;
    text-transform: uppercase;

    color: #ffffff;
  }

  .header_desktop_div {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    padding-top: 22px;
    padding-left: 32px;
    padding-right: 32px;
    box-sizing: border-box;
    align-items: flex-end;
  }

  .desktop_menu_div {
    display: flex;
    flex-direction: row;
    padding-left: 0px;
    padding-right: 0;
    box-sizing: border-box;
    width: auto;
    gap: 33px;
    justify-content: space-between;
  }

  .planet_hover_box {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .palent_hover {
    display: block;
    position: absolute;
    height: 4px;
    width: 64px;
    top: -32px;
  }
}
