@import url("https://fonts.googleapis.com/css2?family=Antonio&display=swap");
@import url("https://fonts.cdnfonts.com/css/spartan");

.underline {
  width: 100%;
  background: #ffffff;
  mix-blend-mode: normal;
  opacity: 0.2;
  height: 1px;
}

.info_planets_div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 24px;
  padding-right: 24px;
  box-sizing: border-box;
}

.info_box_h2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}



.h2_info {
  font-family: "Spartan";
  font-style: normal;
  font-weight: 700;
  font-size: 9px;
  line-height: 10px;
  text-align: center;
  letter-spacing: 1.92857px;
  text-transform: uppercase;
  color: #ffffff;
  background: none;
  border: none;
}

.underline_color_box {
  background: #419ebb;
  width: 80px;
  height: 4px;
  position: absolute;
  top: 27px;
}

.container_1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  padding-left: 24px;
  padding-right: 24px;
}

.planets_div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.planet_name {
  font-family: "Antonio";
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 52px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
}

.planet_paragraph {
  font-family: "Spartan";
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  line-height: 22px;
  text-align: center;
  color: #ffffff;
  margin-top: 16px;
}

.source_div {
  margin-top: 10px;
}

.motion_planet_div{
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  overflow: hidden;
  border-radius: 50%;
}

.planet_svg {
  width: 100%;
  object-fit: contain;
}

.planet_svg_2{
  position: absolute;
  width: 100%;
  transform: none;
  opacity: 1;
}

.planet_svg_3{
  width: 100%;
  position: absolute;
}

.planet_svg_3_internal{
  width: 100%;
  position: absolute;
}

.surface_geology {
  width: 90px;
  margin-top: 100px;
  position: absolute;
}

.h2_source {
  font-family: "Spartan";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 25px;
  color: #ffffff;
  mix-blend-mode: normal;
  opacity: 0.5;
}

.mini_container1_1 {
  height: 305px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.wiki_text {
  text-decoration: underline;
  font-family: "Spartan";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 25px;
  color: #ffffff;
  mix-blend-mode: normal;
  text-decoration-skip-ink: none;
}

.source_div {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 4px;
}

.container_2 {
  width: 100%;
  padding-top: 28px;
  padding-bottom: 47px;
  padding-left: 24px;
  padding-right: 24px;
  box-sizing: border-box;
  gap: 8px;
  display: flex;
  flex-direction: column;
}

.container_2_info_box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid rgba(255, 255, 255, 0.2);
  background: none;
  height: 48px;
  padding-left: 24px;
  padding-right: 24px;
  box-sizing: border-box;
}

.rotation {
  font-family: "Spartan";
  font-style: normal;
  font-weight: 700;
  font-size: 8px;
  line-height: 16px;
  letter-spacing: 0.727273px;
  text-transform: uppercase;
  color: #ffffff;
  mix-blend-mode: normal;
  opacity: 0.5;
}

.numbers_info {
  font-family: "Antonio";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;
  text-align: right;
  letter-spacing: -0.75px;
  text-transform: uppercase;
  color: #ffffff;
  margin-top: -4px;
}

.info_planets_div_desktop {
  display: none;
}

.mini_container1_2 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.grid_container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (min-width: 768px) {
  .info_planets_div {
    display: none;
  }

  .info_planets_div_desktop {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
  }

  .container_1 {
    padding-left: 40px;
    padding-right: 40px;
  }

  .mini_container1_2 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .grid_container {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    justify-content: space-between;
    width: 100%;
  }

  .planet_name {
    font-family: "Antonio";
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 62px;
    text-transform: uppercase;
    color: #ffffff;
  }

  .planet_paragraph {
    font-family: "Spartan";
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 22px;
    color: #ffffff;
    width: 339px;
    text-align: initial;
    margin-top: 24px;
    height: 110px;
  }

  .source_div {
    margin-top: 32px;
  }

  .info_box_h2 {
    flex-direction: row;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border: 1px solid rgba(255, 255, 255, 0.2);
    background: none;
    height: 40px;
    width: 281px;
    padding-left: 20px;
    padding-right: 2px;
    box-sizing: border-box;
    gap: 17px;
  }

  .h2_info {
    font-family: "Spartan";
    font-style: normal;
    font-weight: 700;
    font-size: 9px;
    line-height: 25px;
    letter-spacing: 1.92857px;
    text-transform: uppercase;
    color: #ffffff;
    width: 200px;
    text-align: inherit;
  }

  .number_grid_div {
    font-family: "Spartan";
    font-style: normal;
    font-weight: 700;
    font-size: 9px;
    line-height: 25px;
    letter-spacing: 1.92857px;
    text-transform: uppercase;
    color: #ffffff;
    mix-blend-mode: normal;
    opacity: 0.5;
  }

  .container_2 {
    padding-left: 40px;
    padding-right: 40px;
    flex-direction: row;
    padding-bottom: 36px;
  }

  .container_2_info_box {
    display: flex;
    align-items: flex-start;
    border: 1px solid rgba(255, 255, 255, 0.2);
    background: none;
    height: auto;
    padding-left: 15px;
    padding-right: 24px;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    padding-top: 16px;
    padding-bottom: 19px;
    box-sizing: border-box;
    gap: 6px;
  }

  .numbers_info {
    font-family: "Antonio";
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 31px;
    letter-spacing: -0.9px;
    text-transform: uppercase;
    color: #ffffff;
  }

  .mini_container1_1 {
    height: 460px;
  }

  .planet_svg {
    width: 64%;
  }

  .surface_geology {
    width: 104px;
    margin-top: 230px;
    position: absolute;
  }
}

@media screen and (min-width: 1440px) {
  .container_1 {
    flex-direction: row;
    width: 100%;
    gap: 130px;
    padding-left: 165px;
    padding-right: 165px;
  }

  .grid_container{
    display: flex;
    align-items: flex-start;
    flex-direction: column-reverse;
    justify-content: space-between;
    width: auto;
    gap: 39px;
  }

  .planet_svg{
    width: 100%;
  }

  .surface_geology{
    width: 163px;
    margin-top: 380px;
  }

  .mini_container1_1{
    height: 754px;
    width: 100%;
  }

  .planet_name{
    font-family: 'Antonio';
    font-style: normal;
    font-weight: 400;
    font-size: 80px;
    line-height: 104px;
    text-transform: uppercase;
    color: #FFFFFF;
  }

  .h2_source{
    font-family: 'Spartan';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 25px;
    color: #FFFFFF;
    mix-blend-mode: normal;
    opacity: 0.5;
  }

  .source_div{
    margin-top: 24px;
  }

  .info_box_h2{
    flex-direction: row;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border: 1px solid rgba(255, 255, 255, 0.2);
    background: none;
    height: 48px;
    width: 350px;
    padding-left: 28px;
    padding-right: 2px;
    box-sizing: border-box;
    gap: 28px;
    cursor: pointer;
  }

  



  .number_grid_div{
    font-family: 'Spartan';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 25px;
    letter-spacing: 2.57143px;
    text-transform: uppercase;
    color: #FFFFFF;
    mix-blend-mode: normal;
    opacity: 0.5;
  }

  .h2_info{
    width: 260px;
    font-family: 'Spartan';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 25px;
    letter-spacing: 2.57143px;
    text-transform: uppercase;
    color: #FFFFFF;
    cursor: pointer;
  }

  .container_2{
    padding-left: 165px;
    padding-right: 165px;
    flex-direction: row;
    padding-bottom: 56px;
  }

  .container_2_info_box{
    height: 128px;
    display: flex;
    align-items: flex-start;
    border: 1px solid rgba(255, 255, 255, 0.2);
    background: none;
    padding-left: 23px;
    padding-right: 24px;
    flex-direction: column;
    width: 100%;
    justify-content: flex-start;
    padding-top: 20px;
    padding-bottom: 19px;
    box-sizing: border-box;
    gap: 4px;
  }

  .rotation{
    font-family: 'Spartan';
    font-style: normal;
    font-weight: 700;
    font-size: 11px;
    line-height: 25px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #FFFFFF;
    mix-blend-mode: normal;
    opacity: 0.5;
  }

  .numbers_info{
    font-family: 'Antonio';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 52px;
    letter-spacing: -1.5px;
    text-transform: uppercase;
    color: #FFFFFF;
  }
}
