@import url("https://fonts.googleapis.com/css2?family=Antonio&display=swap");
@import url("https://fonts.cdnfonts.com/css/spartan");

.underline {
  width: 100%;
  background: #ffffff;
  mix-blend-mode: normal;
  opacity: 0.2;
  height: 1px;
}

.info_planets_div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 24px;
  padding-right: 24px;
  box-sizing: border-box;
}

.info_box_h2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.h2_info {
  font-family: "Spartan";
  font-style: normal;
  font-weight: 700;
  font-size: 9px;
  line-height: 10px;
  text-align: center;
  letter-spacing: 1.92857px;
  text-transform: uppercase;
  color: #ffffff;
  background: none;
  border: none;
}

.underline_color_box {
  background: #419ebb;
  width: 80px;
  height: 4px;
  position: absolute;
  top: 27px;
}

.container_1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  padding-left: 24px;
  padding-right: 24px;
}

.planets_div {
  height: 304px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.planet_name {
  font-family: "Antonio";
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 52px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
}

.planet_paragraph {
  font-family: "Spartan";
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  line-height: 22px;
  text-align: center;
  color: #ffffff;
  margin-top: 16px;
}

.desktop_menu {
  display: none;
}

.source_div {
  margin-top: 10px;
}

.planet_svg {
  width: 40%;
}


.surface_geology {
  width: 90px;
    margin-top: 100px;
    position: absolute;
}

.h2_source {
  font-family: "Spartan";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 25px;
  color: #ffffff;
  mix-blend-mode: normal;
  opacity: 0.5;
}

.wiki_text {
  text-decoration: underline;
  font-family: "Spartan";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 25px;
  color: #ffffff;
  mix-blend-mode: normal;
  text-decoration-skip-ink: none;
}

.source_div {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 4px;
}

.container_2 {
  width: 100%;
  padding-top: 28px;
  padding-bottom: 47px;
  padding-left: 24px;
  padding-right: 24px;
  box-sizing: border-box;
  gap: 8px;
  display: flex;
  flex-direction: column;
}

.container_2_info_box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid rgba(255, 255, 255, 0.2);
  background: none;
  height: 48px;
  padding-left: 24px;
  padding-right: 24px;
  box-sizing: border-box;
}

.rotation {
  font-family: "Spartan";
  font-style: normal;
  font-weight: 700;
  font-size: 8px;
  line-height: 16px;
  letter-spacing: 0.727273px;
  text-transform: uppercase;
  color: #ffffff;
  mix-blend-mode: normal;
  opacity: 0.5;
}

.numbers_info {
  font-family: "Antonio";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;
  text-align: right;
  letter-spacing: -0.75px;
  text-transform: uppercase;
  color: #ffffff;
  margin-top: -4px;
}
